<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="data:,">
    <script type='text/javascript'>
        (() => {
            if(window.localStorage) {
                if (!localStorage.getItem('reload')) {
                    localStorage['reload'] = true;
                    window.location.reload();
                } else {
                    localStorage.removeItem('reload');
                }
            }
        })();
    </script>
</head>
<body>
    <div class="box" id="heading">
        <h1><%= listName %></h1>
    </div>
    <form action="/delete" method="post">
        <input type="hidden" name="listName" value="<%= listName %>">
        <div class="box">
            <% newListItems.forEach((item) => { %>
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= item.id %>" onchange="this.form.submit();">
                    <p><%= item.name %></p>
                </div>
            <% }); %>
    </form>
    <form action="/" method="post" class="item">
            <input type="text" name="task" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= listName %>">+</button>
        </form>
    </div>
</body>
</html>